# Spray Recommendation

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

/usr/local/Cellar/python3/3.6.3/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

In [2]:
def get_lags(data, x, lag, f=None):
    lag_avg = pd.DataFrame(data[x])

    def assign_na(x):
        try:
            y = np.float64(x)
        except:
            y = np.NaN
        return y

    lag_avg[x] = lag_avg[x].apply(assign_na)

    for i in range(1, lag):
        lag_avg['lag_{}'.format(i)] = lag_avg[x].copy().shift(i)

    ten_day_avg = []
    for i, row in lag_avg.iterrows():
        if f == 'sum':
            ten_day_avg.append(row.sum(skipna=True))
        else:
            ten_day_avg.append(row.mean(skipna=True))

    return pd.Series(ten_day_avg)

In [3]:
spray_cost = 2500  # per square mile
hospitalization_cost = 13810  # total acute medical care "Initial and Long-Term Costs of Patients Hospitalized with WNV Disease

hospitalization_rate = .49

chicago_total_cost = 425000

In [4]:
df_in = pd.read_csv('data/train.csv')

df_in.shape

(10506, 12)

In [5]:
zip_codes = pd.read_csv('data/WNV_Pop_Age.csv')

zip_codes = zip_codes[['Trap', 'ZipCode']].rename(columns={'Trap': 'trap', 'ZipCode': 'zip_code'})

In [6]:
df_out = df_in.join(zip_codes)

In [7]:
df_out.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,trap,zip_code
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,T002,60634

In [8]:
demographics = pd.read_csv('data/demographics.csv').drop('Unnamed: 0', axis=1)

In [9]:
demographics.head(1)

,zip_code,percent_employed,percent_no_health,percent_public_health,total_population,population_porportion,percent_age_over_65,percent_age_under_14,percent_low_income
0,60002,69.5,9.4,22.4,24250.0,0.001887,12.0,19.299999,8.7

In [10]:
dfsss = df_out.merge(demographics, on=['zip_code'])

dfsss.drop('trap', axis=1, inplace=True)

to_drop = ['Address', 'Species', 'Block', 'Street', 'AddressNumberAndStreet', 'AddressAccuracy', 'WnvPresent', 'Trap']

dfsss = dfsss.drop(to_drop, axis=1);

In [11]:
dfsss.head(1)

,Date,Latitude,Longitude,NumMosquitos,zip_code,percent_employed,percent_no_health,percent_public_health,total_population,population_porportion,percent_age_over_65,percent_age_under_14,percent_low_income
0,2007-05-29,41.95469,-87.800991,1,60634,68.0,21.9,29.9,72718.0,0.005659,12.799999,17.200001,10.5

In [12]:
geo = pd.read_csv('data/WNV_Pop_Age_Temp_Geog.csv')
geo = geo[['ZipCode', 'LandArea', 'WaterArea']]
geo = geo.groupby('ZipCode').mean().reset_index().rename(columns={'ZipCode': 'zip_code'})

In [13]:
geo.head(1)

   zip_code  LandArea  WaterArea
0     60018      16.3        0.3

In [14]:
dfsss = dfsss.merge(geo, on='zip_code')

dfsss.rename(columns={'LandArea': 'land_area', 'WaterArea': 'water_area'}, inplace=True)

In [15]:
dfsss.head(1)

,Date,Latitude,Longitude,NumMosquitos,zip_code,percent_employed,percent_no_health,percent_public_health,total_population,population_porportion,percent_age_over_65,percent_age_under_14,percent_low_income,land_area,water_area
0,2007-05-29,41.95469,-87.800991,1,60634,68.0,21.9,29.9,72718.0,0.005659,12.799999,17.200001,10.5,7.1,0.0

In [16]:
to_sum = dfsss[['Date', 'zip_code', 'NumMosquitos']]

summed = to_sum.groupby(['Date', 'zip_code']).sum().reset_index()

In [17]:
to_mean = dfsss[['Date', 'zip_code', 'Latitude', 'Longitude']]

meaned = to_mean.groupby(['Date', 'zip_code']).mean().reset_index()

In [18]:
df = meaned.merge(summed, on=['Date', 'zip_code'])
df = df.merge(dfsss, on=['Date', 'zip_code'], how='left')
df = df.drop(['Latitude_y', 'Longitude_y', 'NumMosquitos_y'], axis=1)
df = df.rename(columns={'Date': 'date', 'Latitude_x': 'latitude', 'Longitude_x': 'longitude', 'NumMosquitos_x': 'num_mosquitos'})

df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['week'] = df['date'].apply(lambda x: x.isocalendar()[1])

In [19]:
df.head(1)

,date,zip_code,latitude,longitude,num_mosquitos,percent_employed,percent_no_health,percent_public_health,total_population,population_porportion,percent_age_over_65,percent_age_under_14,percent_low_income,land_area,water_area,year,week
0,2007-05-29,60608,41.865503,-87.652436,4,60.900002,29.5,36.099998,78794.0,0.006132,7.7,18.400002,19.5,6.4,0.2,2007,22

In [20]:
wnv_years = []
for i in range(2002,2017):
    wnv_years.append(str(i))
wnv_cases = [635, 20, 23, 135, 29, 23, 9, 1, 30, 22, 174, 60, np.NaN, 27, 90]
wnv_deaths = [42, 1, 2, 6, np.NaN, 0, 0, 0, 1, 1, 5, 7, np.NaN, 0, 0]

deaths = pd.DataFrame({"Year": wnv_years, "Cases": wnv_cases, "Deaths" : wnv_deaths})
deaths = deaths.set_index('Year')
deaths = deaths.shift(1).reset_index()
deaths = deaths.rename(columns={'Year': 'year', 'Cases': 'averaged_cases', 'Deaths': 'averaged_deaths'})
deaths['year'] = deaths['year'].astype(np.int64)

In [21]:
deaths['averaged_cases'] = get_lags(deaths, 'averaged_cases', 5, np.mean)
deaths['averaged_deaths'] = get_lags(deaths, 'averaged_deaths', 5, np.mean)

In [22]:
df = df.merge(deaths, on='year')

In [23]:
df.head(1)

,date,zip_code,latitude,longitude,num_mosquitos,percent_employed,percent_no_health,percent_public_health,total_population,population_porportion,percent_age_over_65,percent_age_under_14,percent_low_income,land_area,water_area,year,week,averaged_cases,averaged_deaths
0,2007-05-29,60608,41.865503,-87.652436,4,60.900002,29.5,36.099998,78794.0,0.006132,7.7,18.400002,19.5,6.4,0.2,2007,22,168.4,12.75

In [24]:
df['at_risk_population_percent'] = df['percent_age_over_65'] + df['percent_age_under_14']
df['at_risk_population'] = df['at_risk_population_percent']/100 * df['total_population'] 
df['proportional_averaged_cases'] = df['population_porportion'] * df['averaged_cases']
df['proportional_averaged_deaths'] = df['population_porportion'] * df['averaged_deaths']
df['high_risk_infection_percent'] = df['averaged_cases'] * df['at_risk_population_percent']/100

In [25]:
df = df.groupby(['date', 'zip_code']).mean().reset_index()

In [26]:
to_drop = ['percent_employed', 'percent_no_health', 'percent_public_health',
           'percent_age_over_65', 'percent_age_under_14', 'percent_low_income']

df = df.drop(to_drop, axis=1)

In [27]:
predictions = pd.read_csv('data/prediction_probabilities.csv')
predictions['Id'] -= 1
predictions = predictions.set_index('Id')

In [28]:
df = df.join(predictions)

In [29]:
# Estimate Costs...

df['cost_to_spray'] = spray_cost * df['land_area']

In [30]:
df[(df['year'] == 2013) & (df['week'] == 23)].head()

,date,zip_code,latitude,longitude,num_mosquitos,total_population,population_porportion,land_area,water_area,year,week,averaged_cases,averaged_deaths,at_risk_population_percent,at_risk_population,proportional_averaged_cases,proportional_averaged_deaths,high_risk_infection_percent,wnv_probablitiy,cost_to_spray
1989,2013-06-07,60018,41.992478,-87.862995,16,28749.0,0.002237,16.3,0.3,2013,23,47.2,1.4,33.000000,9487.170000,0.105595,0.003132,15.576000,0.029842,40750.0
1990,2013-06-07,60106,41.957799,-87.930995,32,20276.0,0.001578,9.0,0.1,2013,23,47.2,1.4,31.100000,6305.836077,0.074474,0.002209,14.679200,0.029842,22500.0
1991,2013-06-07,60608,41.867108,-87.654224,2,78794.0,0.006132,6.4,0.2,2013,23,47.2,1.4,26.100002,20565.235428,0.289410,0.008584,12.319201,0.029842,16000.0
1992,2013-06-07,60609,41.812418,-87.663779,13,62773.0,0.004885,7.8,0.0,2013,23,47.2,1.4,31.899998,20024.585863,0.230565,0.006839,15.056799,0.052579,19500.0
1993,2013-06-07,60612,41.868142,-87.696269,2,36052.0,0.002805,3.7,0.0,2013,23,47.2,1.4,29.700000,10707.443931,0.132419,0.003928,14.018400,0.052579,9250.0

In [31]:
# If we sprayed everywhere, every week....

df['cost_to_spray'].sum()

33874249.99999997

In [32]:
df['week'].nunique()

20

In [33]:
df['spray_metric'] = df['wnv_probablitiy'] * df['at_risk_population'] / df['cost_to_spray'] * 100

In [34]:
df['spray_metric'].describe()

count    2532.000000
mean       11.053049
std        13.068943
min         0.000000
25%         0.000000
50%         3.716545
75%        20.675772
max        59.486455
Name: spray_metric, dtype: float64

In [35]:
df.to_csv('data/recommendation_data.csv')

In [36]:
df_work = df[(df['year'] == 2013)]
df_work['spray_metric'].describe()

for i in range(0, 21):
    print(6 + i/10, df_work[df_work['spray_metric'] > 6 + i/10]['cost_to_spray'].sum())

6.0 425500.0
6.1 407000.0
6.2 407000.0
6.3 355250.0
6.4 355250.0
6.5 327750.0
6.6 327750.0
6.7 293750.0
6.8 275250.0
6.9 275250.0
7.0 275250.0
7.1 275250.0
7.2 275250.0
7.3 250750.0
7.4 231250.0
7.5 231250.0
7.6 231250.0
7.7 163750.0
7.8 110500.0
7.9 101500.0
8.0 101500.0

In [37]:
# Agressive spraying total cost

df_work[df_work['spray_metric'] > 6]['cost_to_spray'].sum()

425499.99999999965

In [38]:
# Agressive spraying total coverage

df_work[df_work['spray_metric'] > 6]['land_area'].sum()

170.1999999999999

In [39]:
# Aggressive spraying recommendations

df_work[df_work['spray_metric'] > 6];

In [40]:
# Moderate spraying total cost

df_work[df_work['spray_metric'] > 7]['cost_to_spray'].sum()

275249.99999999988

In [41]:
# Moderate spraying coverage

df_work[df_work['spray_metric'] > 7]['land_area'].sum()

110.09999999999995

In [42]:
# Moderate spraying recommendations

df_work[df_work['spray_metric'] > 7];

In [43]:
# Conservative spraying total cost

df_work[df_work['spray_metric'] > 8]['cost_to_spray'].sum()

101500.00000000004

In [44]:
# Conservative spraying coverage

df_work[df_work['spray_metric'] > 8]['land_area'].sum()

40.600000000000016

In [45]:
df_work

,date,zip_code,latitude,longitude,num_mosquitos,total_population,population_porportion,land_area,water_area,year,week,averaged_cases,averaged_deaths,at_risk_population_percent,at_risk_population,proportional_averaged_cases,proportional_averaged_deaths,high_risk_infection_percent,wnv_probablitiy,cost_to_spray,spray_metric
1989,2013-06-07,60018,41.992478,-87.862995,16,28749.0,0.002237,16.3,0.3,2013,23,47.2,1.4,33.000000,9487.170000,0.105595,0.003132,15.576000,0.029842,40750.0,0.694762
1990,2013-06-07,60106,41.957799,-87.930995,32,20276.0,0.001578,9.0,0.1,2013,23,47.2,1.4,31.100000,6305.836077,0.074474,0.002209,14.679200,0.029842,22500.0,0.836348
1991,2013-06-07,60608,41.867108,-87.654224,2,78794.0,0.006132,6.4,0.2,2013,23,47.2,1.4,26.100002,20565.235428,0.289410,0.008584,12.319201,0.029842,16000.0,3.835666
1992,2013-06-07,60609,41.812418,-87.663779,13,62773.0,0.004885,7.8,0.0,2013,23,47.2,1.4,31.899998,20024.585863,0.230565,0.006839,15.056799,0.052579,19500.0,5.399311
1993,2013-06-07,60612,41.868142,-87.696269,2,36052.0,0.002805,3.7,0.0,2013,23,47.2,1.4,29.700000,10707.443931,0.132419,0.003928,14.018400,0.052579,9250.0,6.086301
1994,2013-06-07,60613,41.912671,-87.650627,4,49536.0,0.003855,2.2,0.4,2013,23,47.2,1.4,18.000000,8916.480000,0.181945,0.005397,8.496000,0.052579,5500.0,8.523935
1995,2013-06-07,60614,41.921965,-87.632085,1,68363.0,0.005320,3.2,0.3,2013,23,47.2,1.4,20.700000,14151.140870,0.251097,0.007448,9.770400,0.052579,8000.0,9.300597
1996,2013-06-07,60617,41.729436,-87.564563,19,83435.0,0.006493,13.9,1.5,2013,23,47.2,1.4,37.100000,30954.385318,0.306456,0.009090,17.511200,0.052579,34750.0,4.683567
1997,2013-06-07,60618,41.951866,-87.725057,5,97413.0,0.007580,5.1,0.0,2013,23,47.2,1.4,27.400000,26691.162093,0.357797,0.010613,12.932800,0.052579,12750.0,11.006942
1998,2013-06-07,60619,41.740541,-87.605035,27,64922.0,0.005052,6.0,0.0,2013,23,47.2,1.4,33.600000,21813.792248,0.238458,0.007073,15.859200,0.052579,15000.0,7.646264
1999,2013-06-07,60620,41.726458,-87.649861,7,73253.0,0.005700,7.1,0.0,2013,23,47.2,1.4,35.899999,26297.826022,0.269058,0.007981,16.944799,0.052579,17750.0,7.789882
2000,2013-06-07,60621,41.776428,-87.627096,1,33608.0,0.002615,3.7,0.0,2013,23,47.2,1.4,35.200000,11830.015936,0.123442,0.003661,16.614400,0.017068,9250.0,2.182910
2001,2013-06-07,60622,41.906638,-87.701431,1,54272.0,0.004223,2.5,0.0,2013,23,47.2,1.4,21.399999,11614.207275,0.199341,0.005913,10.100799,0.017068,6250.0,3.171771
2002,2013-06-07,60623,41.846075,-87.716277,1,85158.0,0.006627,5.4,0.1,2013,23,47.2,1.4,33.400002,28442.773299,0.312785,0.009278,15.764801,0.017068,13500.0,3.596089
2003,2013-06-07,60626,42.010412,-87.662140,2,51061.0,0.003973,1.7,0.5,2013,23,47.2,1.4,23.500000,11999.335000,0.187547,0.005563,11.092000,0.017068,4250.0,4.819039
2004,2013-06-07,60629,41.771660,-87.703047,5,113833.0,0.008858,6.8,0.1,2013,23,47.2,1.4,33.299999,37906.388132,0.418108,0.012401,15.717600,0.017068,17000.0,3.805885
2005,2013-06-07,60631,42.009876,-87.807277,1,28899.0,0.002249,3.7,0.0,2013,23,47.2,1.4,35.200001,10172.448220,0.106146,0.003148,16.614400,0.017068,9250.0,1.877051
2006,2013-06-07,60632,41.800737,-87.711880,4,90845.0,0.007069,7.4,0.0,2013,23,47.2,1.4,33.400000,30342.229653,0.333673,0.009897,15.764800,0.017068,18500.0,2.799419
2007,2013-06-07,60633,41.673408,-87.599862,1,13474.0,0.001049,10.3,1.9,2013,23,47.2,1.4,33.700000,4540.737974,0.049490,0.001468,15.906400,0.017068,25750.0,0.300983
2008,2013-06-07,60634,41.954690,-87.800991,19,72718.0,0.005659,7.1,0.0,2013,23,47.2,1.4,30.000000,21815.400000,0.267093,0.007922,14.160000,0.017068,17750.0,2.097766
2009,2013-06-07,60636,41.785341,-87.662372,14,39918.0,0.003106,3.9,0.0,2013,23,47.2,1.4,34.000001,13572.120381,0.146619,0.004349,16.048000,0.017068,9750.0,2.375939
2010,2013-06-07,60637,41.773215,-87.600880,3,48270.0,0.003756,4.5,0.7,2013,23,47.2,1.4,33.799999,16315.259632,0.177295,0.005259,15.953600,0.017068,11250.0,2.475333
2011,2013-06-07,60638,41.780462,-87.761548,3,56033.0,0.004360,11.1,0.0,2013,23,47.2,1.4,32.900002,18434.857855,0.205809,0.006104,15.528801,0.017068,27750.0,1.133885
2012,2013-06-07,60639,41.923738,-87.785288,1,91934.0,0.007154,4.9,0.0,2013,23,47.2,1.4,32.200000,29602.748263,0.337673,0.010016,15.198400,0.017068,12250.0,4.124660
2013,2013-06-07,60643,41.720848,-87.666014,4,51836.0,0.004034,7.3,0.0,2013,23,47.2,1.4,37.300001,19334.828593,0.190393,0.005647,17.605601,0.017068,18250.0,1.808297
2014,2013-06-07,60646,41.994132,-87.754308,26,28314.0,0.002203,4.6,0.0,2013,23,47.2,1.4,39.900002,11297.286432,0.103997,0.003085,18.832801,0.017068,11500.0,1.676751
2015,2013-06-07,60651,41.902539,-87.743033,13,61150.0,0.004759,3.5,0.0,2013,23,47.2,1.4,32.200001,19690.300467,0.224603,0.006662,15.198400,0.017068,8750.0,3.840931
2016,2013-06-07,60652,41.743402,-87.731435,1,42517.0,0.003309,5.0,0.0,2013,23,47.2,1.4,31.100000,13222.787162,0.156165,0.004632,14.679200,0.052579,12500.0,5.561890
2017,2013-06-07,60655,41.693461,-87.705854,7,28173.0,0.002192,4.4,0.0,2013,23,47.2,1.4,32.500000,9156.225000,0.103479,0.003069,15.340000,0.052579,11000.0,4.376563
2018,2013-06-07,60656,41.973845,-87.805059,2,27468.0,0.002137,3.3,0.0,2013,23,47.2,1.4,33.900000,9311.651895,0.100890,0.002992,16.000800,0.052579,8250.0,5.934473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,2013-09-26,60617,41.721257,-87.559873,49,83435.0,0.006493,13.9,1.5,2013,39,47.2,1.4,37.100000,30954.385318,0.306456,0.009090,17.511200,0.000000,34750.0,0.000000
2622,2013-09-26,60618,41.951866,-87.725057,3,97413.0,0.007580,5.1,0.0,2013,39,47.2,1.4,27.400000,26691.162093,0.357797,0.010613,12.932800,0.000000,12750.0,0.000000
2623,2013-09-26,60619,41.741697,-87.603562,12,64922.0,0.005052,6.0,0.0,2013,39,47.2,1.4,33.600000,21813.792248,0.238458,0.007073,15.859200,0.000000,15000.0,0.000000
2624,2013-09-26,60620,41.729721,-87.649751,31,73253.0,0.005700,7.1,0.0,2013,39,47.2,1.4,35.899999,26297.826022,0.269058,0.007981,16.944799,0.012774,17750.0,1.892490
2625,2013-09-26,60621,41.776428,-87.627096,1,33608.0,0.002615,3.7,0.0,2013,39,47.2,1.4,35.200000,11830.015936,0.123442,0.003661,16.614400,0.012774,9250.0,1.633638
2626,2013-09-26,60622,41.909600,-87.684743,3,54272.0,0.004223,2.5,0.0,2013,39,47.2,1.4,21.399999,11614.207275,0.199341,0.005913,10.100799,0.012774,6250.0,2.373677
2627,2013-09-26,60623,41.835842,-87.721413,14,85158.0,0.006627,5.4,0.1,2013,39,47.2,1.4,33.400002,28442.773299,0.312785,0.009278,15.764801,0.012774,13500.0,2.691227
2628,2013-09-26,60625,41.963976,-87.691810,8,78966.0,0.006145,3.9,0.0,2013,39,47.2,1.4,26.500000,20925.990000,0.290042,0.008603,12.508000,0.012774,9750.0,2.741533
2629,2013-09-26,60629,41.771660,-87.703047,6,113833.0,0.008858,6.8,0.1,2013,39,47.2,1.4,33.299999,37906.388132,0.418108,0.012401,15.717600,0.012774,17000.0,2.848234
2630,2013-09-26,60630,41.964242,-87.757639,13,57886.0,0.004505,4.8,0.0,2013,39,47.2,1.4,31.700000,18349.861890,0.212615,0.006306,14.962400,0.012774,12000.0,1.953276
2631,2013-09-26,60631,42.009876,-87.807277,5,28899.0,0.002249,3.7,0.0,2013,39,47.2,1.4,35.200001,10172.448220,0.106146,0.003148,16.614400,0.012774,9250.0,1.404740
2632,2013-09-26,60632,41.799377,-87.728501,11,90845.0,0.007069,7.4,0.0,2013,39,47.2,1.4,33.400000,30342.229653,0.333673,0.009897,15.764800,0.000000,18500.0,0.000000
2633,2013-09-26,60633,41.664830,-87.563161,21,13474.0,0.001049,10.3,1.9,2013,39,47.2,1.4,33.700000,4540.737974,0.049490,0.001468,15.906400,0.000000,25750.0,0.000000
2634,2013-09-26,60634,41.951947,-87.808939,24,72718.0,0.005659,7.1,0.0,2013,39,47.2,1.4,30.000000,21815.400000,0.267093,0.007922,14.160000,0.000000,17750.0,0.000000
2635,2013-09-26,60636,41.781103,-87.666441,14,39918.0,0.003106,3.9,0.0,2013,39,47.2,1.4,34.000001,13572.120381,0.146619,0.004349,16.048000,0.000000,9750.0,0.000000
2636,2013-09-26,60637,41.773215,-87.600880,1,48270.0,0.003756,4.5,0.7,2013,39,47.2,1.4,33.799999,16315.259632,0.177295,0.005259,15.953600,0.000000,11250.0,0.000000
2637,2013-09-26,60638,41.785721,-87.762015,16,56033.0,0.004360,11.1,0.0,2013,39,47.2,1.4,32.900002,18434.857855,0.205809,0.006104,15.528801,0.000000,27750.0,0.000000
2638,2013-09-26,60639,41.920253,-87.752802,14,91934.0,0.007154,4.9,0.0,2013,39,47.2,1.4,32.200000,29602.748263,0.337673,0.010016,15.198400,0.000000,12250.0,0.000000
2639,2013-09-26,60642,41.896282,-87.655232,4,18312.0,0.001425,NaN,NaN,2013,39,47.2,1.4,16.100001,2948.232157,0.067260,0.001995,7.599200,0.000000,NaN,NaN
2640,2013-09-26,60643,41.720848,-87.666014,12,51836.0,0.004034,7.3,0.0,2013,39,47.2,1.4,37.300001,19334.828593,0.190393,0.005647,17.605601,0.017068,18250.0,1.808297
2641,2013-09-26,60646,41.994851,-87.751175,17,28314.0,0.002203,4.6,0.0,2013,39,47.2,1.4,39.900002,11297.286432,0.103997,0.003085,18.832801,0.017068,11500.0,1.676751
2642,2013-09-26,60649,41.766202,-87.562889,1,45444.0,0.003536,2.9,1.0,2013,39,47.2,1.4,31.300000,14223.972087,0.166915,0.004951,14.773600,0.017068,7250.0,3.348691
2643,2013-09-26,60651,41.902539,-87.743033,35,61150.0,0.004759,3.5,0.0,2013,39,47.2,1.4,32.200001,19690.300467,0.224603,0.006662,15.198400,0.017068,8750.0,3.840931
2644,2013-09-26,60652,41.743402,-87.731435,3,42517.0,0.003309,5.0,0.0,2013,39,47.2,1.4,31.100000,13222.787162,0.156165,0.004632,14.679200,0.017068,12500.0,1.805532
2645,2013-09-26,60654,41.891118,-87.654491,1,15885.0,0.001236,0.6,0.0,2013,39,47.2,1.4,9.200000,1461.420008,0.058345,0.001731,4.342400,0.017068,1500.0,1.662938
2646,2013-09-26,60655,41.697086,-87.705148,11,28173.0,0.002192,4.4,0.0,2013,39,47.2,1.4,32.500000,9156.225000,0.103479,0.003069,15.340000,0.017068,11000.0,1.420745
2647,2013-09-26,60656,41.973845,-87.805059,12,27468.0,0.002137,3.3,0.0,2013,39,47.2,1.4,33.900000,9311.651895,0.100890,0.002992,16.000800,0.017068,8250.0,1.926482
2648,2013-09-26,60660,41.987280,-87.666066,5,42060.0,0.003273,1.3,0.2,2013,39,47.2,1.4,20.800000,8748.480080,0.154486,0.004582,9.817600,0.035510,3250.0,9.558796
2649,2013-09-26,60707,41.916265,-87.800515,8,42712.0,0.003324,3.6,0.0,2013,39,47.2,1.4,31.299999,13368.855674,0.156881,0.004653,14.773600,0.035510,9000.0,5.274796
2650,2013-09-26,60803,41.662014,-87.724608,7,22945.0,0.001786,NaN,NaN,2013,39,47.2,1.4,31.700000,7273.564956,0.084277,0.002500,14.962400,0.035510,NaN,NaN