In [1]:
import pandas as pd

In [2]:
def distance(x, y):
    '''
        returns the euclidean distance between two provided points
    '''
    d = ((x[0] - y[0])**2 + (x[1] - y[1])**2)**.5
    return d

In [3]:
def get_distances(x):
    distances = []
    for i, trap in enumerate(traps):
        distances.append(distance(x, coordinates[i]))
    
    trap_distances = dict(zip(traps, distances))
    closest_trap = min(trap_distances, key=trap_distances.get)
    _distance = trap_distances[closest_trap]
    return closest_trap, _distance

In [4]:
! ls

WNV_Pop_Age.csv        distance-mapping.ipynb test copy.csv
WNV_Pop_Age_Temp.csv   model_data.csv         test.csv
census_age.csv         sampleSubmission.csv   train.csv
census_info.csv        spray.csv              weather.csv
data-clean.ipynb       spray_traps.csv

In [5]:
spray = pd.read_csv('spray.csv')

In [6]:
spray.shape

(14835, 4)

In [7]:
train = pd.read_csv('train.csv')
train = train[['Trap', 'Latitude', 'Longitude']].groupby('Trap').mean()

In [8]:
train.shape

(136, 2)

In [9]:
trap_dict = train[['Latitude', 'Longitude']].transpose().to_dict()

In [10]:
traps = []
coordinates = []

for trap in trap_dict.keys():
    traps.append(trap)
    coordinates.append((trap_dict[trap]['Latitude'], trap_dict[trap]['Longitude']))

In [11]:
closest_traps = []
trap_distances = []

for i, row in spray.iterrows():
    trap, dist = get_distances((row['Latitude'], row['Longitude']))
    closest_traps.append(trap)
    trap_distances.append(dist)

In [12]:
spray['trap'] = closest_traps
spray['spray_distance'] = trap_distances

In [13]:
spray = spray.drop(['Time', 'Latitude', 'Longitude'], axis=1)

In [14]:
spray['spray'] = 1

In [15]:
spray.head()

         Date  trap  spray_distance  spray
0  2011-08-29  T903        0.461758      1
1  2011-08-29  T903        0.461500      1
2  2011-08-29  T903        0.461191      1
3  2011-08-29  T903        0.460830      1
4  2011-08-29  T903        0.460514      1

In [16]:
spray.to_csv('spray_traps.csv', index=False)